<h1>Listing aniversarios</h1>

<table>
  <tr>
    <th>Nome</th>
    <th>Dia</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @aniversarios.each do |aniversario| %>
  <tr>
    <td><%= aniversario.nome %></td>
    <td><%= aniversario.dia %></td>
    <td><%= link_to 'Show', aniversario %></td>
    <td><%= link_to 'Edit', edit_aniversario_path(aniversario) %></td>
    <td><%= link_to 'Destroy', aniversario, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Aniversario', new_aniversario_path %>
